{{define "title"}}Create new post{{end}}

{{define "main"}}
<form action='/post/create/{{.CategoryID}}' method='POST'>
    <div>
        <label>Title:</label>
        <input type='text' name='title'>
    </div>
    <div>
        <label>Content:</label>
        <!-- see nimi on ka handleris mis siin all -->
        <textarea name='content'></textarea> 
    </div>

    
    <div>
        <input type='submit' value='Publish post'>
    </div>
</form>
{{end}}
