{{define "title"}}Home{{end}}

{{define "main"}}
<div class="container">
    <!-- Sidebar for Categories -->
    <aside class='sidebar'>
        <h3>Kategooriad</h3>
        <ul>
            {{range .Categories}}
            <li>
                {{.ID}} <strong><a href="/category/view/{{.ID}}">{{.Name}}</a></strong>
            </li>
            {{else}}
            <p>There's nothing to see here... yet! Come back soon!</p>
            {{end}}
        </ul>
    </aside>

    <!-- Main content for Posts -->
    <div class='main-content'>
        <h3>Postitused mis siin on</h3>
        <ul>
            {{range .Posts}}
            <li>
                {{.ID}} <strong><a href="/post/view/{{.ID}}">{{.Title}}</a></strong>
            </li>
            {{else}}
            <p>There's nothing to see here... yet! Come back soon, darling!</p>
            {{end}}
        </ul>
    </div>
</div>
{{end}}

