body {
    padding: 2%;
    background-color: #23282e;
    background-image: url(assets/01-trame.svg);
    font-size: large;
}

#container {
    display: grid;
    grid-template-columns: 15% 5% auto 5% 15%;
    grid-template-rows: 10% 85% auto;
    gap: 20px;
    height: 90vh;
}

.items {
    font-family: Helvetica, Courier, monospace;
    display: grid;
    background-color: rgba(20, 20, 20, 0.9);
    border: 5px double;
    border-radius: 30px;
    color: whitesmoke;
    scrollbar-width: none;
}

/* Hide scrollbar for all elements */
.items::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

/* ------------------------------------- */
/* HEADER */
/* ------------------------------------- */

#header {
    grid-column: 1/3;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: rgba(48, 47, 47, 0.9);
    padding: 10px 20px;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
    position: relative; /* Position relative to the normal flow of the document */
    margin: 0 auto; /* Center horizontally */
}

#title {
    color: whitesmoke;
    grid-column: 1;
}

#createPostButton {
    background-color: transparent;
    cursor: pointer;
    width: 200px;
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: whitesmoke;
    font-size: 30px;
    border-radius: 20px;
}

#createPost {
    grid-column: 2;
}

#profileBox {
    grid-column: 5;
    grid-row: 1;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

.profileStuff {
    border-radius: 20px;
    border: 3px double whitesmoke;
    max-height: 100px;
    grid-row: 2;
    margin: 1% 3%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.buttonLogin {
    grid-column: 1;
    grid-row: 1;
    text-decoration: none;
    color: inherit;
}

.buttonRegister {
    grid-column: 1;
    grid-row: 2;
    text-decoration: none;
    color: inherit;
}


#loginTag {
    grid-column: 5;
    width: 150px;
    height: 50px;
    background-color: rgba(20, 20, 20, 0.8);
    color: whitesmoke;
    border-radius: 20px;
}

#login {
    width: inherit;
    height: 30px;
    background-color: rgba(20, 20, 20, 0.8);
    color: whitesmoke;
    border-radius: 20px;
}

#register {
    width: inherit;
    height: 30px;
    background-color: rgba(20, 20, 20, 0.8);
    color: whitesmoke;
    border-radius: 20px;
}

#userName {
    grid-column: 4;
    justify-self: right;
    color: whitesmoke;
    font-size: 30px;
}

/* ------------------------------------- */
/* CATEGORIES */
/* ------------------------------------- */

.categoriesHeader {
    padding: 2% 3% 3% 3%;
    grid-column: 1;
    grid-row: 1;
    /* Add padding for better appearance */

}

#categoriesContainer {
    grid-column: 1;
    grid-row: 2;
    grid-template-rows: 10% 90%;
    grid-template-columns: 100%;
}

.category {
    margin: 1% 3%;
    padding: 5%;
    border: 3px double whitesmoke;
    border-radius: 30px;
    color: whitesmoke;
    max-height: 100px;
    position: relative;
    grid-row: 2;
}

/* ------------------------------------- */
/* POSTS */
/* ------------------------------------- */

#posts {
    display: grid;
    grid-column: 2/6;
    grid-row: 2;
    grid-template-rows: 10% 90%;
    grid-template-columns: 85% 15%;
}

#postsHeader {
    position: static;
    /* Make the header sticky */
    top: 0;
    /* Stick to the top of the posts element */
    padding: 2% 3% 0 3%;
    /* Add padding for better appearance */
    z-index: 1;
    grid-row: 1;
    /* Ensure the header appears above the posts content */
}

#postsHeader h2 {
    font-size: 35px;
}

.post {
    margin: 1% 3%;
    padding-left: 1%;
    background-color: rgba(20, 20, 20, 0.9);
    border: 5px double;
    border-radius: 20px;
    color: whitesmoke;
    position: relative;
    grid-row: 2;
}

.postsContainer {
    overflow: hidden;
    overflow: clip;
    grid-column: 1 / 3;
}

.post-link {
    text-decoration: none;
    color: inherit;
    grid-column: 1;
}
