<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Literary Lions Forum</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div id="container">
      <div id="header" class="items">
        <a href="/" class="post-link">
          <h2 id="title">Literary Lions Forum</h2>
        </a>
      </div>
      <div id="posts" class="items">
        <a href="/createPost" id="createPost">
          <button id="createPostButton">Create Post</button>
        </a>
        <div id="postsHeader">
          <h2>Popular Now</h2>
        </div>
        <div class="postsContainer">
          {{ range .Posts }}
          <a href="/post" class="post-link">
            <div class="post">
              <h2>{{ .Title }}</h2>
              <h3>{{ .Category}}</h3>
              <p>{{ .Content }}</p>
            </div>
          </a>
          {{ end }}
        </div>
      </div>
      <div id="categoriesContainer" class="items">
        <div class="categoriesHeader">
          <h2>Top Categories</h2>
        </div>
        <div class="postsContainer">
          {{ range .Categories }}
          <a href="/category/{{ . }}" class="post-link">
            <div class="category">
              <h3>{{ . }}</h3>
            </div>
          </a>
          {{ end }}
        </div>
      </div>
      <div id="profileBox" class="items">
        <a href="/login" class="buttonLogin">
          <div id="login" class="profileStuff">
            <h3>Login</h3>
          </div>
        </a>
        <a href="/register" class="buttonRegister">
          <div id="register" class="profileStuff">
            <h3>Register</h3>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>