<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
    <link rel="stylesheet" href="/literary-lions-forum/static/css/style.css" />
  </head>
  <body>
    <div id="container">
      <div id="header" class="items">
        <a href="/" class="post-link">
          <h1 id="title">Forum</h1>
        </a>
        <a href="/createPost" id="cPB">
          <button id="createPostButton">Create Post</button>
        </a>
      </div>
      <div id="posts" class="items">
        <div id="postsHeader">
          <h2>Top Posts</h2>
        </div>
        <div class="postsContainer">
          {{ range .Posts }}
          <a href="#" class="post-link">
            <div class="post">
              <h2>{{ .Title }}</h2>
              <h3>{{ .Category}}</h3>
              <p>{{ .Content }}</p>
            </div>
          </a>
          {{ end }}
        </div>
      </div>
      <div id="side" class="items left">
        <div class="leftHeader">
          <h2>Top Categories</h2>
        </div>
        <div class="postsContainer">
          {{ range .Categories }}
          <a href="/category/{{ . }}" class="post-link">
            <div class="category">
              <h3>{{ . }}</h3>
            </div>
          </a>
          {{ end }}
        </div>
      </div>
      <div id="profile" class="items left">
        <div id="profileHeader">
          <h2>Profile</h2>
        </div>
        <a href="/profile/posts" class="buttonP">
          <div id="profilePosts" class="profileStuff">
            <h3>Posts</h3>
          </div>
        </a>
        <a href="/profile/likes" class="buttonL">
          <div id="profileLikes" class="profileStuff">
            <h3>Likes</h3>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>